html,body
{
    width: 100vw;
    height: 100vh;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}
*{
    margin: 0;
    padding: 0;
    font-family: 'Inter', sans-serif;
}
 *:before,
    *:after{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .popup{
        z-index: 1000;
        background-color: #ffffff;
        width: 420px;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        font-family: "Poppins",sans-serif;
        display: none; 
        text-align: center;
    }
    .popup button{
        display: block;
        margin:  0 0 0 auto;
        background-color: transparent;
        font-size: 30px;
        color: #ffffff;
            background: #009999;
        justify-content: center;
        align-items: center;
            border-radius: 100%;
            width: 40px;
            height: 40px;
        border: none;
        outline: none;
        cursor: pointer;
    }
    .popup h2{
        margin-top: -20px;
    }
    .popup p{
        font-size: 14px;
        text-align: justify;
        margin: 20px 0;
        line-height: 25px;
    }
    .popup a{
        display: block;
        width: 150px;
        position: relative;
        margin: 10px auto;
        text-align: center;
        background-color: #0f72e5;
            border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
        padding: 8px 0;
    }
.header{
    width: 100vw;
    min-height: 0vh;
    height:20vh;
    background-position: center;
    background-color: white;
    background-size: cover;
    position: relative;
    align-content: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
nav{
    height: 4.5vh;
    display: flex;
    padding: 2% 2.5%;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-right: 6.5vw;
    
}

.header a headerlogo img{
    width: 12vw;
    margin-left: 2.45vw;
    margin-top: 0.9vh;
    
}
nav ul li a homeicon img{
    width: 6.134vw;
}
nav ul li a calendaricon img{
    width: 7.90vw;
}
nav ul li a maintenance{
    font-size: 4.90vw;
}
nav ul li a reporticon img{
    width: 6.99vw;
}
nav ul li a imprinticon img{
    width: 6.99vw;
}
nav ul li a maintenanceicon img{
    width: 6.99vw;
}
action-row{
    align-items: center;
    display: flex;
    margin-right: 2.06vw;
}
action-row notifications img{
    width: 2.049vw;
    margin-right: 2.06vw;
}
action-row userprofile img{
     width: 3.66vw;
}
.nav-links{
    flex: 1;
    text-align: center;
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 30px;
    position: relative;
    
}
.nav-links ul li a{
    color: #2E2E2E;
    text-decoration: none;
    font-size: 15px;
    align-content: center
        
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: #f44336;
    display: block;
    margin: auto;
    transition: 0.5s;
        
}
.search{
    width: 100vw;
    height: 30.51vh;
}
.search background img{
         position: absolute;
 width: 100vw;

}
.search background{
   top: 0;
     position: relative;

}
.search .container {
    width: 100vw;
  position: relative;
  text-align: center;
  color: white;
}
.search .container bgimg img{
    width: 100vw;

}


.search .container .centered{
 position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.search .container .bottomcenter{
 position: absolute;
  bottom: -50px;
    left: 50%;
  transform: translate(-50%, -50%);
}
.search .container .bottomcenter searchtexto{
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
}
.search .container .bgblur{
      position: absolute;
color: #000;
    opacity: 0.12;
      filter: blur(8px);
  -webkit-filter: blur(8px);
    width: 100%;
    height: 100%;

}
.search .container .centered search-col{
    display: block;
}
.search .container .centered search-col searchtitle{
    font-size: 3.41vw;
    font-weight: 500;
    color: transparent;
    margin-bottom: 2vw;

}
.search .container .centered search-col searchtdesc{
    font-size: 1.46vw;
    color:transparent;
    font-weight: 300;
}
.search background titleofsearch{
      position: absolute;
}

.search .container .bottomcenter searchtextbox{
    padding-right: 12px;
padding-top: 8px;
    padding-bottom: 8px;
    padding-left: 23px;
    border-radius: 8px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: centsearchtitleer;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
}
.search .container .bottomcenter searchtextbox searchicon{
    width: 24px;
}
.search .container .bottomcenter searchtextbox searchfield{
       font-size: 16px;
    color: #BFBFDA;
    
    margin-left: 23px;
    margin-right: 381px;
}
.search .container .bottomcenter searchtextbox search-container searchfield{
    width: 464px;
}

.search .container .bottomcenter searchtextbox searchdivider{
    width: 1.5px;
}

.search .container .bottomcenter searchtextbox searchtext{
    font-size: 16px;
    margin-left: 19px;
    margin-right: 35px;
    color: #BFBFDA;
}

.search .container .bottomcenter searchtextbox searchdropdown img{
    width: 12px;
    color: #BFBFDA;
}
.bookings{
    width: 100vw;
    padding-left: 2.04vw;
}
.bookings upcomingtitlerow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 12.00vh;
    margin-left: 1.1vw;
}

.bookings upcomingtitlerow upcomingtitle{
    font-size: 1.55vw;
    margin-left: 1.16vw;
    font-weight: 500;
    color: #3E454D;
}
.bookings upcomingtitlerow icon img{
    display: flex;
    width: 3.66vw;
    justify-content: center;
    align-items: center;
}

.bookings  appointmentsrow{
    margin-top: 1.77vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    
}
.bookings  appointmentsrow appointment-box{
   padding-left: 1.17vw;
    padding-right: 1.17vw;
    padding-top: 1.338vw;
    width: 25.4vw;
    padding-bottom: 1.338vw;
    border-radius: 7px;
    margin-right: 1.91vw;
    display: block;
    justify-content: flex-start;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;  
}
.bookings  appointmentsrow appointment-box doctorrow{
  display: flex;
    justify-content: flex-start;
    align-items: center;  
}
.bookings  appointmentsrow appointment-box doctorrow doctorimg{
  width: 4.25vw;
    margin-right: 0.911vw;
}
.bookings  appointmentsrow appointment-box doctorrow doctorcol{
  display: block;
    margin-left: 0.878vw;
}
.bookings  appointmentsrow appointment-box doctorrow doctorcol nametext{
   display: block;
 font-size: 1.46vw;
    font-weight: 600;
    color: #182C42;
    margin-bottom: 0.51vw;
}
.bookings  appointmentsrow appointment-box doctorrow doctorcol specialization{
   display: block;
font-size: 1.024vw;
    font-weight: 600;
    color: #BCC2C9;
}
.bookings  appointmentsrow appointment-box appointmentinfocol{
  display: block;
    justify-content: flex-start;
    align-items: center;  
}
.bookings  appointmentsrow appointment-box appointmentinfocol locationrow{
    display: flex;
    justify-content: flex-start;
    margin-bottom: 0.51vw;
    margin-top: 1.7vw;
}
.bookings  appointmentsrow appointment-box appointmentinfocol locationrow img{
    width: 1.17vw;
    margin-right: 0.74vw;
}
.bookings  appointmentsrow appointment-box appointmentinfocol locationrow clinicname{
 font-size: 1.09vw;
    color: #3D4D5F;
    font-weight: 300;
}
.bookings  appointmentsrow appointment-box appointmentinfocol timerow{
    display: flex;
    justify-content: flex-start;
    margin-top: 1vw;
}
.bookings  appointmentsrow appointment-box appointmentinfocol timerow img{
    width: 1.17vw;
    margin-right: 0.74vw;
}
.bookings  appointmentsrow appointment-box appointmentinfocol timerow appdate{
 font-size: 1.09vw;
    color: #3D4D5F;
    font-weight: 300;
    margin-right: 1.97vw;
}
.bookings  appointmentsrow appointment-box appointmentinfocol timerow apptime{
 font-size: 1.09vw;
    color: #3D4D5F;
    font-weight: 300;
    margin-right: 1.97vw;
}
.exploresection{
      width: 50vw;
    padding-left: 2.04vw;  
}
.explore clinicsrow clinicbox img{
  width: 25.4vw;
    height: 17.35vw;    
}


.explore{
    width: 100vw;
    padding-left: 2.04vw;
}
.explore exploretitlerow{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 8.00vh;
    margin-left: 1.1vw;
}

.explore exploretitlerow exploretitle{
    font-size: 1.55vw;
    margin-left: 1.16vw;
    font-weight: 500;
    color: #3E454D;
}
.explore exploretitlerow icon img{
    display: flex;
    width: 3.66vw;
    justify-content: center;
    align-items: center;
}

.explore clinicsrow{
    margin-top: 1.77vw;
    margin-bottom: 10vw;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}
.explore clinicsrow clinicbox{
    position: relative;
  width: 25.4vw;
    height: 17.35vw;
    border-radius: 8px;
        margin-right: 1.71vw;

}

.explore clinicsrow clinicbox img{
  width: 25.4vw;
    
}
#clinicbox{
   width: 25.4vw;
    height: 17.35vw;
    position: relative;
   margin-right: 1.71vw;

}
#clinicimg{
      position: absolute;
   margin-right: 1.71vw;
}
#cliniccolumn{
    bottom: 2vw;
    margin-left: 1.94vw;
      z-index: 100;
  position: absolute;
    display: block;
    justify-content: flex-start;
}
#cname{
    display: block;
    font-size: 1.46vw;
    font-weight: 600;
    color: white;
}
#addresstxt{
   font-size: 0.878vw;
    font-weight: 300;
    color: white;
    margin-left: 1.2vw;
}
#locationrow{
    display: flex;
    margin-top: 0.8vw;
    justify-content: flex-start;
}
#spacer{
    width: 1.68vw;
}



.explore clinicsrow clinicbox  cliniccol locationrow img{
    width: 1.17vw;
    margin-right: 0.74vw;
}
.explore clinicsrow clinicbox  cliniccol locationrow adddresstxt{
    font-size: 0.878vw;
    font-weight: 500;
    color: white;
    
}
#mapdiv {
    width: 80vw;

}
.mapdiv .mapcontainer {
    width: 100vw;
    padding-left: 5%;
    padding-right: 5%;
} 

.mapdiv .mapcontainer titletext{
   margin-left: 15vw
   
} 
